.screenHeight {
	height: 100vh;
}

#time {
	font-size: 1300%;
    text-align: center;
	padding-top: 10vh;
}

#examInformation {
	display: flex;
	font-size: 110%;
}

    #examTimes {
		flex: 1;
	}
	
	#examDetails {
		text-align: right;
		flex: 1;
	}